<nb-card>
  <nb-card-header>
    App Users
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="viewDetails($event,groupsModel)"
      (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #groupsModel let-c="close" let-d="dismiss">
 <div class="modal-header">
    <h4 class="modal-title">{{selectedItems.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 
  <div class="modal-body" style="overflow-y: scroll;height: 450px">
    <div class="modal-title"><b>Occupation:</b><span>{{selectedItems.occupation}}</span></div>
    <div class="modal-title"><b>Company:</b><span>{{selectedItems.company}}</span></div>
    <div class="modal-title"><b>Experience:</b><span>{{selectedItems.experience}}</span></div>
    <br>
    <div style="text-align: center;"><h4>Groups</h4></div>
    <br>
    <h5>PLS5</h5>
    <ul class="list-group" style="list-style-type:none;" *ngIf="userGroups.length>0">
     <li *ngFor="let item of userGroups; let i = index">
      <div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="item.group.category=='PLS5'">
     <img src="{{imagesUrl+item.group.image}}" width="30" height="30"  alt="">
     {{item.group.name}}
      <div class="image-parent" >
        </div>
    </div>  
      </li>
    </ul>
    
    <br>
    <h5>ROBOT</h5>
    <ul class="list-group" style="list-style-type:none;" *ngIf="userGroups.length>0">
     <li *ngFor="let item of userGroups; let i = index">
      <div class="list-group-item d-flex justify-content-between align-items-center" *ngIf="item.group.category=='ROBOT'">
     <img src="{{imagesUrl+item.group.image}}" width="30" height="30"  alt="">
     {{item.group.name}}
      <div class="image-parent" >
        </div>
    </div>  
      </li>
    </ul>

   


  </div>
 
</ng-template>