@import '../../@theme/styles/themes';


@include nb-install-component() {


  nb-card-header {
    display: none;
  }
  nav.navigation{
    display: none;
  }
}



.btn {
    cursor: pointer !important;
    width: 50%;
  }