@import '../../../@theme/styles/themes';


@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .error-message {
    color: #ff4c6a
  }
  
//   button.btn.btn-link.ng-star-inserted {
//     color: firebrick;
// }

  .btn {
  cursor: pointer;
  }
.size{
  height: 200px;
}
  /deep/ agm-map {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}
