<nb-card>
  <nb-card-header>
    App Users
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event,groupsModel)"
      (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #groupsModel let-c="close" let-d="dismiss">
 <div class="modal-header">
    <h4 class="modal-title">Edit Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 
  <div class="modal-body" >
        <form [formGroup]="eventForm" #form [formGroup]="eventForm" (ngSubmit)="updatItem()">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name </label>
            <div class="col-sm-9">
              <input type="text"   autofocus formControlName="name" class="form-control" placeholder="Group name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'form-control-danger':submitted && f.name.errors }" />
              <ng-container *ngIf="submitted && f.name.errors">
                <p class="error-message" class="text-danger"> 
                  Name is required & must be at least 4 characters!
                </p>
              </ng-container>
            
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
                 <select name="category" formControlName="category" class="form-control">
                  <option value="GENERAL">GENERAL</option>
                  <option value="ROBOT">ROBOT</option>
                  <option value="PLS5">PLS5</option>
                </select>
             </div>
          </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <textarea type="text"   class="form-control"
                formControlName="description" placeholder="Description"
                 autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.description.errors, 'form-control-danger':submitted && f.description.errors }"></textarea>
             
               <ng-container *ngIf="submitted && f.description.errors">
                <p class="error-message" class="text-danger">
                  Description is required & must be at least 4 characters!
                </p>
              </ng-container>
            </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-3 col-form-label">status</label>
              <div class="col-sm-9">
                   <select name="status" formControlName="status" class="form-control">
                    <option value="1">Enable</option>
                    <option value="0">Disable</option>
                   
                  </select>
               </div>
            </div>

            <div class="form-group row">
            <label class="col-sm-3 col-form-label"> Image</label>
            <div class="col-sm-9">
              <input type="file" nbInput fullWidth #file accept='image/*' (change)="preview(file.files)" />
              <input type="hidden" formControlName="image" class="form-control" />
        
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Group Image</label>
            <div class="col-sm-9">
              <nb-card-body>
                <img [src]="imgURL" height="auto" width="150" alt="">
              </nb-card-body>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <p class="error-message">{{formError}}</p>
              <button type="submit" [nbSpinner]="spinner" nbSpinnerStatus="success"
                class="btn  btn-success ">Update</button>
            </div>
          </div>
        </form>
  </div>

</ng-template>