<div class="row">
  <div class="col-lg-7">
    <nb-card>
      <nb-card-header>Add Group</nb-card-header>
      <nb-card-body>
        <form [formGroup]="eventForm" #form [formGroup]="eventForm" (ngSubmit)="addEvent()">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name </label>
            <div class="col-sm-9">
              <input type="text"   autofocus formControlName="name" class="form-control" placeholder="Group name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'form-control-danger':submitted && f.name.errors }" />
              <ng-container *ngIf="submitted && f.name.errors">
                <p class="error-message"> 
                  Name is required & must be at least 4 characters!
                </p>
              </ng-container>
            
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
                 <select name="category" formControlName="category" class="form-control">
                  <option value="GENERAL">GENERAL</option>
                  <option value="ROBOT">ROBOT</option>
                  <option value="PLS5">PLS5</option>
                </select>
             </div>
          </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <textarea type="text"   class="form-control"
                formControlName="description" placeholder="Description"
                 autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.description.errors, 'form-control-danger':submitted && f.description.errors }"></textarea>
             
               <ng-container *ngIf="submitted && f.description.errors">
                <p class="error-message">
                  Description is required & must be at least 4 characters!
                </p>
              </ng-container>
            </div>
            </div>

            <div class="form-group row">
            <label class="col-sm-3 col-form-label"> Image</label>
            <div class="col-sm-9">
              <input type="file" nbInput fullWidth #file accept='image/*' (change)="preview(file.files)" />
              <input type="hidden" formControlName="image" class="form-control" />
              <ng-container *ngIf="submitted && fileData==null">
                <p class="error-message">
                  Image is required
                </p>
              </ng-container>
            </div>
          </div>

         
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <p class="error-message">{{formError}}</p>
              <button type="submit" [nbSpinner]="spinner" nbSpinnerStatus="success"
                class="btn  btn-success ">Add</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-5">
    <nb-card>
      <nb-card-header>Group Image</nb-card-header>
      <nb-card-body>
        <img [src]="imgURL" width="auto" height="170" alt="">
      </nb-card-body>
    </nb-card>

  </div>
</div>